In [8]:
pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
 from sqlalchemy import create_engine,text

In [16]:
username="root"
host="localhost"
password = "9027"
port="3306"
# dialect+driver://username:password@host:port/database
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}",isolation_level="AUTOCOMMIT")

In [19]:
with engine.connect() as conn:
    conn.execute(text(" create database purchase_details"))
# Most Common Cause: AUTOCOMMIT is required
#ðŸ‘‰ In MySQL, DDL statements like CREATE DATABASE must be run in autocommit mode.
#By default, SQLAlchemy runs inside a transaction.
#MySQL does not allow CREATE DATABASE inside a transaction.because transactions are databse scoped

In [20]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/purchase_details") # reconnecting to db

In [26]:
with engine.connect() as conn:
    conn.execute(text("create table if not exists location(location_id varchar(5) PRIMARY KEY,location_name varchar(30))"))
    conn.commit()

In [28]:
with engine.connect() as conn:
    conn.execute(text(""" 
    create table if not exists shipping_info (
    shipping_id VARCHAR(8) PRIMARY KEY,
    shipping_type varchar(15))
    """))
    conn.commit()

In [29]:
with engine.connect() as conn:
    conn.execute(text(""" 
    create table if not exists payment_info (
    payment_id VARCHAR(8) PRIMARY KEY,
    payment_type varchar(20))
    """))
    conn.commit()

In [33]:
with engine.connect() as conn:
    conn.execute(text(""" 
    create table if not exists discount_info (
    promo_id varchar(8) PRIMARY KEY,
    promo_code varchar(10),
    discount_applied varchar(3))
    """))
    conn.commit()

In [35]:
with engine.connect() as conn:
    conn.execute(text(""" 
    create table if not exists product_info (
    product_id VARCHAR(10) PRIMARY KEY,
    category varchar(15),
    item_purchased varchar(15),
    size varchar(3),
    color varchar(10))
    """))
    conn.commit()

In [36]:
with engine.connect() as conn:
    conn.execute(text(""" 
    create table if not exists customer_info (
    customer_id int PRIMARY KEY,
    age int,
    gender varchar(10),
    season varchar(10),
    frequency_of_purchased int,
    subscription varchar(3))
    """))
    conn.commit()

In [41]:
with engine.connect() as conn:
    conn.execute(text("""
    CREATE TABLE IF NOT EXISTS purchase_info (
        purchase_id INT PRIMARY KEY AUTO_INCREMENT,
        customer_id INT,
        product_id VARCHAR(10),
        location_id varchar(5),
        payment_id varchar(8),
        promo_id varchar(8),
        shipping_id VARCHAR(8),
        purchase_amount_usd DECIMAL(10,2),
        review_rating DECIMAL(2,1),
        previous_purchases INT,

        FOREIGN KEY (customer_id) REFERENCES customer_info(customer_id),
        FOREIGN KEY (product_id) REFERENCES product_info(product_id),
        FOREIGN KEY (location_id) REFERENCES location(location_id),
        FOREIGN KEY (payment_id) REFERENCES payment_info(payment_id),
        FOREIGN KEY (promo_id) REFERENCES discount_info(promo_id),
        FOREIGN KEY (shipping_id) REFERENCES shipping_info(shipping_id)
    )
    """))
    conn.commit()

In [43]:
with engine.begin() as conn:
    conn.execute(text("""insert into shipping_info values ('shp1-STD','standard')"""))

In [44]:
with engine.connect() as conn:
    result=conn.execute(text("select * from shipping_info"))
    for row in result:
        print(row)

('shp1-STD', 'standard')